// COLORS
$sccon-primary: #670000;
$sccon-secondary: #D7DBDD;
$sccon-hover: darken($sccon-secondary, 6%);


// UTILS CLASSES
$height-width-base: 5;

$base-padding: 0.25rem;
$base-margin: 0.25rem;
$padding-margin-iteration: 8;
